img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.center {
  margin: auto;
  width: 200px;
  align-items: center ;
}

.centerForTitle {
  margin: auto;
  width: 500px;
  padding-top: 50px;
}

.titleText {
  font-size: 300%;
  font-weight: bold;
  line-height: 1.4;
  text-align: center;
}

.divForIntro {
  padding-top: 30px;
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
}

.textForIntro {
  font-size: 150%;
  line-height: 1.4;
}
