img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.center {
  margin: auto;
  width: 200px;
  align-items: center ;
}

.centerForIntro {
  margin: auto;
  max-width: 1500px;
  align-items: center ;
}

.centerForTitle {
  margin: auto;
  max-width: 800px;
  padding-top: 50px;
}

.titleText {
  font-size: 400%;
  font-weight: bold;
  line-height: 1.4;
  text-align: center;
  font-family: 'Montserrat'
}

.divForIntro {
  padding-top: 30px;
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
  font-family: 'Montserrat'
}

.textForIntro {
  font-size: 150%;
  line-height: 1.4;
  max-width: 1200px;
  font-family: 'Montserrat'
}