<div>
  <div class="mt-4 center">
    <img src="./assets/images/profilePhoto.jpg" alt="Avatar">
  </div>

  <div class="centerForPersonalName">
    <div class="titleText">GHEORGHE CRACIUN</div>
  </div>

  <div class="centerForTitle">
    <div class="titleText">SOFTWARE ENGINEER</div>
  </div>

  <div class="divForIntro centerForIntro">
    <div class="textForIntro">
      Hey, my name is Gheorghe, and I am a naturally curious and passionate Software Engineer based in the UK, with over 3 years of professional experience in 
      developing mobile 📱, WEB 🌎 and Desktop 💻 applications. 
      Recently I have graduated from Coventry University  (BSc (Hons) in Computer Science).
    </div>
  </div>
</div>
