<div>
  <div class="mt-4 center">
    <img src="./assets/images/profilePhoto.jpg" alt="Avatar">
  </div>

  <div class="centerForTitle">
    <div class="titleText">SOFTWARE DEVELOPER</div>
  </div>

  <div class="divForIntro">
    <div class="textForIntro">
      Hey, my name is Gheorghe, and I am a Software Engineer  
      with real-world experience in developing mobile applications and touch screen desktop applications using JavaFX. For the past few years, I have focused on learning Swift, 
      Flutter, Java so I can follow a Software Engineer career!  Recently I have graduated from Coventry University  (BSc (Hons) in Computer Science).
    </div>
  </div>
</div>
