.center {
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 370px;
}

.buttonRounded {
    border-radius: 10px;
}

.my-resume-link {
    padding-top: 20px;
    align-items: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}