.center {
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 370px;
}

.buttonRounded {
    border-radius: 10px;
    /* color: rgb(26, 188, 156); */
    color: rgb(59, 189, 156);
}

.my-resume-link {
    padding-top: 20px;
    align-items: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    padding-bottom: 40px;
}