<div>
  <!-- Social Icons-->
  <div class="col-lg-6 mt-3 center">
    <a
      class="btn btn-outline-dark btn-social mx-1"
      href="https://github.com/gheorghecr"
      ><i class="fa fa-github fa-2x" aria-hidden="true"> </i></a>
    <a
      class="btn btn-outline-dark btn-social mx-1"
      href="https://twitter.com/giko1997"
      ><i class="fa fa-twitter fa-2x" aria-hidden="true"> </i></a>
    <a
      class="btn btn-outline-dark btn-social mx-1"
      href="https://www.linkedin.com/in/gheorghe-craciun/"
      ><i class="fa fa-linkedin fa-2x" aria-hidden="true"> </i></a>
    <a
      class="btn btn-outline-dark btn-social mx-1"
      href="https://www.instagram.com/gheorgh4/"
      ><i class="fa fa-instagram fa-2x" aria-hidden="true"> </i></a>
    <a
      class="btn btn-outline-dark btn-social mx-1"
      href="mailto:gheorghecr1997@gmail.com"
      ><i class="fa fa-envelope fa-2x" aria-hidden="true"> </i></a>
  </div>
</div>
