<div class="centerForTitle">
  <div class="titleText">PROJECTS</div>
</div>

<div class="customDivider"></div>

<!-- Run trough all projects from the list -->
<div *ngFor="let project of projects">
  <!-- There are 2 designs, one with the text first and another with the image first
  So based on the project.id will decide which design to present for the project div -->
  <div *ngIf="project.id % 2 == 0; then textFirstDiv; else imageFirstDiv"></div>

  <!-- Design with the text first -->
  <ng-template #textFirstDiv>
    <div class="flex-container">
      <div [@slideLeftToRight] class="mr-4 ml-4">
        <!-- Container with info -->
        <div class="titleOfProject mt-2">{{ project.title }}</div>
        <div class="mt-4 projectText">{{ project.description }}</div>
        <div class="mt-4 projectText">{{ project.technologies }}</div>
        <a class="btn btn-xs btn-outline-dark mt-4 projectText" (click)="openProjectDetailsDialog( project.id )">See More</a>
        <a *ngIf="project.appStoreLink" class="btn btn btn-social mx-1 buttonRounded app-store-btn ml-4" href={{project.appStoreLink}} target="_blank"> <img src="assets/images/app-store.svg" alt="APP STORE LINK"></a>
        <a *ngIf="project.appStoreLink" class="btn btn btn-social mx-1 buttonRounded play-store-btn img-fluid" href={{project.appStoreLink}} target="_blank"> <img src="assets/images/google-play-icon.svg" alt="PLAY STORE LINK"></a>
      </div>

      <div [@slideRightToLeft] class="mt-4">
        <!-- Container with image -->
        <img src="{{project.thumbnailImagePath}}" alt="econ_Calendar" />
      </div>
      <div class="mb-4"></div>
    </div>
  </ng-template>

  <!-- Design with the image first -->
  <ng-template #imageFirstDiv>
    <div class="flex-container">
      <div [@slideLeftToRight] class="ml-4">
        <!-- Container with image -->
        <img src="{{project.thumbnailImagePath}}" alt="econ_Calendar" />
      </div>

      <div [@slideRightToLeft] class="ml-4">
        <!-- Container with info -->
        <div class="titleOfProject mt-2">{{ project.title }}</div>
        <div class="mt-4 projectText">{{ project.description }}</div>
        <div class="mt-4 projectText">{{ project.technologies }}</div>
        <a class="btn btn-xs btn-outline-dark mt-4 projectText" (click)="openProjectDetailsDialog( project.id )">See More</a>
        <a *ngIf="project.appStoreLink" class="btn btn btn-social mx-1 buttonRounded app-store-btn ml-4" href={{project.appStoreLink}} target="_blank"> <img src="assets/images/app-store.svg" alt="APP STORE LINK"></a>
        <a *ngIf="project.appStoreLink" class="btn btn btn-social mx-1 buttonRounded play-store-btn img-fluid" href={{project.appStoreLink}} target="_blank"> <img src="assets/images/google-play-icon.svg" alt="PLAY STORE LINK"></a>
      </div>
    </div>
  </ng-template>

  <div class="customDivider"></div>
</div>
