<div class="container mt-4">
  <div class="row">
    <div class="col-9 bigDiv">
      <!-- Left side of the content (Document view) -->
      <div class="container pdfContainer">
        <h1>Heloo</h1>
        <br />
        <h1>Heloo</h1>
        <br />
        <h1>Heloo</h1>
        <br />
        <h1>Heloo</h1>
        <br />
        <h1>Heloo</h1>
        <br />
        <h1>Heloo</h1>
        <br />
      </div>
    </div>

    <div class="col smallDiv">
      <!-- Right side Of the Content (MetaData/Download/NextPrevious) -->
      <div class="row metaDataDiv">Metadata</div>
      <div class="row downloadDiv">
        <p-button  (click)="downloadDocClicked()"  label="Download" icon="pi pi-download"></p-button>
      </div>
      <div class="row nextPreviousDiv">
        <div class="col-xs-4 box">
          <p-button (click)="previousVersionClicked()"  icon="pi pi-caret-left"></p-button>
        </div>
        <div class="col-xs-4 box">
          <p-button (click)="nextVersionClicked()" icon="pi pi-caret-right" ></p-button>
        </div>
      </div>
    </div>
  </div>
</div>
