<div class="container mt-4">
  <div class="row">
    <div class="col-9 mb-4">
      <!-- Left side of the content (Document view) -->
      <p-card
        header="File Info"
        subheader="File Name in here"
        [style]="{ width: '100%' }"
        styleClass="p-card-shadow"
      >
        <div class="pdfContainer">
          <!-- <h1>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae et
            leo duis ut diam. Ultricies mi quis hendrerit dolor magna eget est
            lorem. Amet consectetur adipiscing elit ut. Nam libero justo laoreet
            sit amet. Pharetra massa massa ultricies mi quis hendrerit dolor
            magna. Est ultricies integer quis auctor elit sed vulputate.
            Consequat ac felis donec et. Tellus orci ac auctor augue mauris.
            Semper feugiat nibh sed pulvinar proin gravida hendrerit lectus a.
            Tincidunt arcu non sodales neque sodales. Metus aliquam eleifend mi
            in nulla posuere sollicitudin aliquam ultrices. Sodales ut etiam sit
            amet nisl purus. Cursus sit amet dictum sit amet. Tristique senectus
            et netus et malesuada fames ac turpis egestas. Et tortor consequat
            id porta nibh venenatis cras sed. Diam maecenas ultricies mi eget
            mauris. Eget egestas purus viverra accumsan in nisl nisi. Suscipit
            adipiscing bibendum est ultricies integer. Mattis aliquam faucibus
            purus in massa tempor nec. Lorem ipsum dolor sit amet, consectetur
            adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Vitae et leo duis ut diam. Ultricies mi quis
            hendrerit dolor magna eget est lorem. Amet consectetur adipiscing
            elit ut. Nam libero justo laoreet sit amet. Pharetra massa massa
            ultricies mi quis hendrerit dolor magna. Est ultricies integer quis
            auctor elit sed vulputate. Consequat ac felis donec et. Tellus orci
            ac auctor augue mauris. Semper feugiat nibh sed pulvinar proin
            gravida hendrerit lectus a. Tincidunt arcu non sodales neque
            sodales. Metus aliquam eleifend mi in nulla posuere sollicitudin
            aliquam ultrices. Sodales ut etiam sit amet nisl purus. Cursus sit
            amet dictum sit amet. Tristique senectus et netus et malesuada fames
            ac turpis egestas. Et tortor consequat id porta nibh venenatis cras
            sed. Diam maecenas ultricies mi eget mauris. Eget egestas purus
            viverra accumsan in nisl nisi. Suscipit adipiscing bibendum est
            ultricies integer. Mattis aliquam faucibus purus in massa tempor
            nec. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae et
            leo duis ut diam. Ultricies mi quis hendrerit dolor magna eget est
            lorem. Amet consectetur adipiscing elit ut. Nam libero justo laoreet
            sit amet. Pharetra massa massa ultricies mi quis hendrerit dolor
            magna. Est ultricies integer quis auctor elit sed vulputate.
            Consequat ac felis donec et. Tellus orci ac auctor augue mauris.
            Semper feugiat nibh sed pulvinar proin gravida hendrerit lectus a.
            Tincidunt arcu non sodales neque sodales. Metus aliquam eleifend mi
            in nulla posuere sollicitudin aliquam ultrices. Sodales ut etiam sit
            amet nisl purus. Cursus sit amet dictum sit amet. Tristique senectus
            et netus et malesuada fames ac turpis egestas. Et tortor consequat
            id porta nibh venenatis cras sed. Diam maecenas ultricies mi eget
            mauris. Eget egestas purus viverra accumsan in nisl nisi. Suscipit
            adipiscing bibendum est ultricies integer. Mattis aliquam faucibus
            purus in massa tempor nec. Lorem ipsum dolor sit amet, consectetur
            adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Vitae et leo duis ut diam. Ultricies mi quis
            hendrerit dolor magna eget est lorem. Amet consectetur adipiscing
            elit ut. Nam libero justo laoreet sit amet. Pharetra massa massa
            ultricies mi quis hendrerit dolor magna. Est ultricies integer quis
            auctor elit sed vulputate. Consequat ac felis donec et. Tellus orci
            ac auctor augue mauris. Semper feugiat nibh sed pulvinar proin
            gravida hendrerit lectus a. Tincidunt arcu non sodales neque
            sodales. Metus aliquam eleifend mi in nulla posuere sollicitudin
            aliquam ultrices. Sodales ut etiam sit amet nisl purus. Cursus sit
            amet dictum sit amet. Tristique senectus et netus et malesuada fames
            ac turpis egestas. Et tortor consequat id porta nibh venenatis cras
            sed. Diam maecenas ultricies mi eget mauris. Eget egestas purus
            viverra accumsan in nisl nisi. Suscipit adipiscing bibendum est
            ultricies integer. Mattis aliquam faucibus purus in massa tempor
            nec.
          </h1> -->
          <!-- <iframe src= "./assets/Docs/manual.pdf" width="100%" height="1000px"> </iframe> -->
          <object data="./assets/Docs/manual5.pdf" width="100%" height="100%"></object>
          <!-- <object data="./assets/Docs/manual.html" width="100%" height="100%"></object> -->
          <!-- <object data="./assets/Docs/manual.html" type="application/pdf">
            <embed src="./assets/Docs/manual.html" type="application/pdf" />
        </object> -->
        <!-- <embed src="./assets/Docs/manual.pdf" width="500" height="375" 
 type="application/pdf"> -->
 
        </div>
      </p-card>
    </div>

    <div class="col smallDiv">
      <!-- Right side Of the Content (MetaData/Download/NextPrevious) -->
      <p-card
        header="File Info"
        subheader="File Name in here"
        [style]="{ width: '250px' }"
        styleClass="p-card-shadow"
      >
        <!-- Content of the card -->
        <ul class="list-group mb-4" style="font-size: 14px">
          <li class="list-group-item">Created by: Gheorghe</li>
          <li class="list-group-item">Last Modified: 21/02/2021</li>
          <li class="list-group-item">Created by: Gheorghe</li>
          <li class="list-group-item">Last Modified: 21/02/2021</li>
          <li class="list-group-item">Created by: Gheorghe</li>
          <li class="list-group-item">Last Modified: 21/02/2021</li>
        </ul>
        <p-divider></p-divider>
        <!-- Footer of the card -->
        <ng-template pTemplate="footer ">
          <div class="row downloadDiv">
            <p-button
              (click)="downloadDocClicked()"
              label="Download"
              icon="pi pi-download"
            ></p-button>
          </div>
          <div class="row nextPreviousDiv mt-4">
            <div class="col-xs-4 mr-4">
              <button
                pButton
                pRipple
                (click)="previousVersionClicked()"
                type="button"
                icon="pi pi-caret-left"
              ></button>
            </div>
            <div class="col-xs-4 ml-4">
              <button
                pButton
                pRipple
                (click)="nextVersionClicked()"
                type="button"
                icon="pi pi-caret-right"
              ></button>
            </div>
          </div>
        </ng-template>
      </p-card>
    </div>
  </div>
</div>
