<div class="container mt-4">
  <div class="row">
    <div class="col-8 bigDiv">
      1 of 3
      <div class="container pdfContainer">  
        <h1>Heloo</h1><br>
        <h1>Heloo</h1><br>
        <h1>Heloo</h1><br>
        <h1>Heloo</h1><br>
        <h1>Heloo</h1><br>
        <h1>Heloo</h1><br>
      </div>
    </div>
    <div class="col smallDiv">
      <div class="row col1">
        1 of 3
      </div>
      <div class="row col2">
        2 of 3
      </div>
      <div class="row col3">
        3 of 3
      </div>
    </div>
  </div>
</div>