/* Make it scrollbar when content is bigger the the defined height */
.pdfContainer {
    height: 500px;
    overflow-y: auto;
}

.metaDataDiv {
    background-color: green;
    height: 70%;
}
.downloadDiv {
    height: 15%;
    align-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nextPreviousDiv {
    height: 15%;
    align-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

