<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar color="primary">
      <div class="ml-4">Menu</div>
      <img
        [routerLink]="['/firstArticle']"
        class="logoImageView ml-2"
        id="logo"
        src="./assets/Logos/logo_dfore.svg"
        alt="logoImage"
      />
    </mat-toolbar>

    <mat-nav-list class="mr-6">
      <!-- Menu Items -->
      <!-- <a mat-list-item  [routerLink]="['']">Home</a>
      <a mat-list-item routerLinkActive="active-list-item" [routerLink]="['/firstArticle']">First Article</a>
      <a mat-list-item routerLinkActive="active-list-item" [routerLink]="['/secondArticle']">Second Article</a> -->
      <mat-list>
        <!-- Menu Context of Organisation -->
        <div>
          <mat-list-item
            class="menuTitle"
            (click)="showSubMenuA4 = !showSubMenuA4"
          >
            <button class="buttonToOpenSubMenu" mat-button mat-icon-button>
              <mat-icon
                class="menu-button"
                [ngClass]="{ rotated: showSubMenuA4 }"
                >expand_more</mat-icon
              >
            </button>
            A.4 - Context of Organisation
          </mat-list-item>
        </div>
        <div class="submenu" [ngClass]="{ expanded: showSubMenuA4 }">
          <mat-list-item [routerLink]="['/firstArticle', '4010100']"
            >A.4.1.1.D - Organisation and Context</mat-list-item
          >
          <mat-list-item [routerLink]="['/firstArticle', '4020100']"
            >A.4.2.1.D - Interested Parties</mat-list-item
          >
          <mat-list-item [routerLink]="['/firstArticle', '4030100']"
            >A.4.3.1.D - Scope and Boundaries</mat-list-item
          >
          <mat-list-item [routerLink]="['/firstArticle', '4040100']"
            >A.4.4.1.D - EnMS Manual</mat-list-item
          >
        </div>

        <!-- Menu Leadership-->
        <mat-list-item
          class="menuTitle"
          (click)="showSubMenuA5 = !showSubMenuA5"
        >
          <button mat-button mat-icon-button>
            <mat-icon class="menu-button" [ngClass]="{ rotated: showSubMenuA5 }"
              >expand_more</mat-icon
            >
          </button>
          A.5 - Leadership
        </mat-list-item>
        <div class="submenu" [ngClass]="{ expanded: showSubMenuA5 }">
          <mat-list-item [routerLink]="['/firstArticle', '5010100']"
            >A.5.1.1.D - Leadership and Commitment
          </mat-list-item>
          <mat-list-item [routerLink]="['/firstArticle', '5020100']"
            >A.5.2.1.D - Energy Policy</mat-list-item
          >
          <mat-list-item [routerLink]="['/firstArticle', '5030100']"
            >A.5.3.1.D - Leadership Roles and Responsibilities
          </mat-list-item>
        </div>

        <!-- Menu Planning-->

        <mat-list-item
          class="menuTitle"
          (click)="showSubMenuA6 = !showSubMenuA6"
        >
          <button mat-button mat-icon-button>
            <mat-icon class="menu-button" [ngClass]="{ rotated: showSubMenuA6 }"
              >expand_more</mat-icon
            >
          </button>
          A.6 - Planning
        </mat-list-item>

        <div class="submenu" [ngClass]="{ expanded: showSubMenuA6 }">
          <mat-list-item [routerLink]="['/firstArticle', '6010100']"
            >A.6.1.1.D - Risks and Opportunities</mat-list-item
          >
          <mat-list-item [routerLink]="['/firstArticle', '6020100']"
            >A.6.2.1.D - Objectives Energy Targets</mat-list-item
          >
          <mat-list-item [routerLink]="['/firstArticle', '6020200']"
            >A.6.2.2.D - Objectives Energy Targets Updates
          </mat-list-item>
          <mat-list-item [routerLink]="['/firstArticle', '6020300']"
            >A.6.2.3.D - Energy Action Plans
          </mat-list-item>
          <mat-list-item [routerLink]="['/firstArticle', '6030100']"
            >A.6.3.1.D - Energy Reviews and Updates
          </mat-list-item>
          <mat-list-item [routerLink]="['/firstArticle', '6040100']"
            >A.6.4.1.M - EnPI Methodology
          </mat-list-item>
          <mat-list-item [routerLink]="['/firstArticle', '6040200']"
            >A.6.4.2.R - EnPI Review</mat-list-item
          >
          <mat-list-item [routerLink]="['/firstArticle', '6050100']"
            >A.6.5.1.R - Energy Baseline Update</mat-list-item
          >
          <mat-list-item [routerLink]="['/firstArticle', '6060100']"
            >A.6.6.1.M - Data-Collection Plan Methodology</mat-list-item
          >
          <mat-list-item [routerLink]="['/firstArticle', '6060200']"
            >A.6.6.2.M - Data Measurement Plan Methodology</mat-list-item
          >
          <mat-list-item [routerLink]="['/firstArticle', '6060300']"
            >A.6.6.3.R - Data Measurement Plan Review</mat-list-item
          >
        </div>

        <!-- Menu Support-->
        <mat-list-item
          class="menuTitle"
          (click)="showSubMenuA7 = !showSubMenuA7"
        >
          <button mat-button mat-icon-button>
            <mat-icon class="menu-button" [ngClass]="{ rotated: showSubMenuA7 }"
              >expand_more</mat-icon
            >
          </button>
          A.7 - Support
        </mat-list-item>
        <div class="submenu" [ngClass]="{ expanded: showSubMenuA7 }">
          <mat-list-item [routerLink]="['/firstArticle', '7010100']"
            >A.7.1.1.D - Resources</mat-list-item
          >
          <mat-list-item [routerLink]="['/firstArticle', '7020100']"
            >A.7.2.1.D - Competence Needs Analysis</mat-list-item
          >
          <mat-list-item [routerLink]="['/firstArticle', '7020200']"
            >A.7.2.2.D - Competence Documentation</mat-list-item
          >
          <mat-list-item [routerLink]="['/firstArticle', '7020300']"
            >A.7.2.3.R - Competence Record</mat-list-item
          >
          <mat-list-item [routerLink]="['/firstArticle', '7030100']"
            >A.7.3.1.D - Awareness Needs Analysis</mat-list-item
          >
          <mat-list-item [routerLink]="['/firstArticle', '7030200']"
            >A.7.3.2.D - Awareness Documentation</mat-list-item
          >
          <mat-list-item [routerLink]="['/firstArticle', '7030300']"
            >A.7.3.3.D - Store E Learning Awareness</mat-list-item
          >
          <mat-list-item [routerLink]="['/firstArticle', '7030400']"
            >A.7.3.4.R - AEU Awareness Records</mat-list-item
          >
          <mat-list-item [routerLink]="['/firstArticle', '7040100']"
            >A.7.4.1.M - Communication Methodology</mat-list-item
          >
          <mat-list-item [routerLink]="['/firstArticle', '7040200']"
            >A.7.4.2.M - Employee Suggestions Methodology</mat-list-item
          >
          <mat-list-item [routerLink]="['/firstArticle', '7040300']"
            >A.7.4.3.R - Employee-Suggestions Record</mat-list-item
          >
        </div>

        <!-- Menu Documented Information-->
        <mat-list-item
          class="menuTitle"
          (click)="showSubMenuA75 = !showSubMenuA75"
        >
          <button mat-button mat-icon-button>
            <mat-icon
              class="menu-button"
              [ngClass]="{ rotated: showSubMenuA75 }"
              >expand_more</mat-icon
            >
          </button>
          A.7.5 - Documented Information
        </mat-list-item>
        <div class="submenu" [ngClass]="{ expanded: showSubMenuA75 }">
          <mat-list-item [routerLink]="['/firstArticle', '7050100']"
            >A.7.5.1.D - Article Register</mat-list-item
          >
          <mat-list-item [routerLink]="['/firstArticle', '7050201']"
            >A.7.5.2.1.M - Document Methodology</mat-list-item
          >
          <mat-list-item [routerLink]="['/firstArticle', '7503000']"
            >A.7.5.3.R - Document Control Methodology</mat-list-item
          >
        </div>

        <!-- Menu Operation-->
        <mat-list-item
          class="menuTitle"
          (click)="showSubMenuA8 = !showSubMenuA8"
        >
          <button mat-button mat-icon-button>
            <mat-icon class="menu-button" [ngClass]="{ rotated: showSubMenuA8 }"
              >expand_more</mat-icon
            >
          </button>
          A.8 - Operation
        </mat-list-item>
        <div class="submenu" [ngClass]="{ expanded: showSubMenuA8 }">
          <mat-list-item
            class="mt-2 mb-2"
            [routerLink]="['/firstArticle', '8010100']"
            >A.8.1.1.M - Operational Control and Maintenance
            Methodology</mat-list-item
          >
          <mat-list-item [routerLink]="['/firstArticle', '8010200']"
            >A.8.1.2.P - Store Operating Procedures</mat-list-item
          >
          <mat-list-item [routerLink]="['/firstArticle', '8010300']"
            >A.8.1.3.P - Maintenance Procedures</mat-list-item
          >
          <mat-list-item [routerLink]="['/firstArticle', '8010400']"
            >A.8.1.4.E - Evidence Control of Processes</mat-list-item
          >
          <mat-list-item [routerLink]="['/firstArticle', '8020100']"
            >A.8.2.1.M - Design Methodology</mat-list-item
          >
          <mat-list-item [routerLink]="['/firstArticle', '8020200']"
            >A.8.2.2.R - Design Record</mat-list-item
          >
          <mat-list-item [routerLink]="['/firstArticle', '8020300']"
            >A.8.2.3.D - Designer Commitment</mat-list-item
          >
          <mat-list-item [routerLink]="['/firstArticle', '8020400']"
            >A.8.2.4.R - Designer Commitment Record</mat-list-item
          >
          <mat-list-item [routerLink]="['/firstArticle', '8030100']"
            >A.8.3.1.D - Supplier Commitment</mat-list-item
          >
          <mat-list-item [routerLink]="['/firstArticle', '8030200']"
            >A.8.3.2.R - Supplier Commitment Record</mat-list-item
          >
          <mat-list-item [routerLink]="['/firstArticle', '8030300']"
            >A.8.3.3.P - Procurement Assessment Criteria</mat-list-item
          >
          <mat-list-item [routerLink]="['/firstArticle', '8030400']"
            >A.8.3.4.R - Procurement Criteria Application Record</mat-list-item
          >
        </div>

        <!-- Menu Performance evaluation-->
        <mat-list-item
          class="menuTitle"
          (click)="showSubMenuA9 = !showSubMenuA9"
        >
          <button mat-button mat-icon-button>
            <mat-icon class="menu-button" [ngClass]="{ rotated: showSubMenuA9 }"
              >expand_more</mat-icon
            >
          </button>
          A.9 - Performance evaluation
        </mat-list-item>
        <div class="submenu" [ngClass]="{ expanded: showSubMenuA9 }">
          <mat-list-item [routerLink]="['/firstArticle', '9010101']"
            >A.9.1.1.1.M - Energy Monitoring Methodology</mat-list-item
          >
          <mat-list-item [routerLink]="['/firstArticle', '9010102']"
            >A.9.1.1.2.R - Site Electricity Reports</mat-list-item
          >
          <mat-list-item [routerLink]="['/firstArticle', '9010103']"
            >A.9.1.1.3.P - ERICC Operating Manual</mat-list-item
          >
          <mat-list-item [routerLink]="['/firstArticle', '9010104']"
            >A.9.1.1.4.R - Technical Bureau Alerts</mat-list-item
          >
          <mat-list-item [routerLink]="['/firstArticle', '9010200']"
            >A.9.1.2.R - Legal Review</mat-list-item
          >
          <mat-list-item [routerLink]="['/firstArticle', '9020100']"
            >A.9.2.1.M - Internal Audit Methodology</mat-list-item
          >
          <mat-list-item [routerLink]="['/firstArticle', '9020200']"
            >A.9.2.2.T - Internal Audit Template</mat-list-item
          >
          <mat-list-item [routerLink]="['/firstArticle', '9020300']"
            >A.9.2.3.D - Internal Audit Record</mat-list-item
          >
          <mat-list-item [routerLink]="['/firstArticle', '9020400']"
            >A.9.2.4.T - Internal Audit Observations Template</mat-list-item
          >
          <mat-list-item [routerLink]="['/firstArticle', '9020500']"
            >A.9.2.5.R - Internal Audit Observations Record</mat-list-item
          >
          <mat-list-item [routerLink]="['/firstArticle', '9030100']"
            >A.9.3.1.M - Management Review Methodology</mat-list-item
          >
          <mat-list-item [routerLink]="['/firstArticle', '9030200']"
            >A.9.3.2.T - Management Review Input Record Template</mat-list-item
          >
          <mat-list-item [routerLink]="['/firstArticle', '9030300']"
            >A.9.3.3.T - Management Review Output Record Template</mat-list-item
          >
          <mat-list-item [routerLink]="['/firstArticle', '9030400']"
            >A.9.3.4.R - Management Review Input/Output Records</mat-list-item
          >
        </div>

        <!-- Menu Improvement-->
        <mat-list-item
          class="menuTitle"
          (click)="showSubMenuA10 = !showSubMenuA10"
        >
          <button mat-button mat-icon-button>
            <mat-icon
              class="menu-button"
              [ngClass]="{ rotated: showSubMenuA10 }"
              >expand_more</mat-icon
            >
          </button>
          A.10 - Improvement
        </mat-list-item>
        <div class="submenu" [ngClass]="{ expanded: showSubMenuA10 }">
          <mat-list-item
            class="mt-2 mb-2"
            [routerLink]="['/firstArticle', '10010100']"
            >A.10.1.1.M - Nonconformity Methodology</mat-list-item
          >
          <mat-list-item [routerLink]="['/firstArticle', '10010200']"
            >A.10.1.2.T - Correction Action Request (CAR) Template</mat-list-item
          >
          <mat-list-item [routerLink]="['/firstArticle', '10010300']"
            >A.10.1.3.T - Nonconformity Review Template</mat-list-item
          >
          <mat-list-item [routerLink]="['/firstArticle', '10010400']"
            >A.10.1.4.D - Corrective Actions Requests and Review</mat-list-item
          >
          <mat-list-item [routerLink]="['/firstArticle', '10020100']"
            >A.10.2.1.D - Continual Improvement</mat-list-item
          >
        </div>
      </mat-list>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="title" style="width: 2000px">
        <!-- Buttons on the top Bar. Logo and Login Button component -->
        <img
          [routerLink]="['/firstArticle']"
          class="logoImageView ml-4"
          id="logo"
          src="./assets/Logos/logo_dfore.svg"
          alt="logoImage"
        />
        <span class="loginButton"> <app-Login></app-Login></span>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
