<mat-sidenav-container class="sidenav-container">
  <mat-sidenav 
      #drawer 
      class="sidenav" 
      fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar color="primary">Menu
      <img [routerLink]="['/firstArticle']" class="logoImageView ml-4" id="logo" src="./assets/Logos/dfore-01.jpg" alt="logoImage"/>
    </mat-toolbar>

    <mat-nav-list class="ml-2 mr-4">
      <a mat-list-item  [routerLink]="['']">Home</a>
      <a mat-list-item routerLinkActive="active-list-item" [routerLink]="['/firstArticle']">First Article</a>
      <a mat-list-item routerLinkActive="active-list-item" [routerLink]="['/secondArticle']">Second Article</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="title" style="width: 2000px;">
        <!-- <span class="siteName" [routerLink]="['']">Document Software</span> -->
        <img  [routerLink]="['/firstArticle']" class="logoImageView ml-4" id="logo" src="./assets/Logos/dfore-01.jpg" alt="logoImage"/>
        <span class="loginButton"> <app-Login></app-Login></span>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
