<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar color="primary">
      <div class="ml-4">Menu</div>
    </mat-toolbar>

    <mat-nav-list class="mr-2">
      <!-- Menu Items -->
      <a mat-list-item class="menuTitle" [routerLink]="['']" >HOME</a>
      <a mat-list-item class="menuTitle" routerLinkActive="active-list-item" [routerLink]="['/firstArticle']">MY RESUME</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="colorForMainNav">
      <button
        type="button"
        class="burgerMenuIcon"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="ml-4 changeCursorToPointer" [routerLink]="['']" >GHEORGHE CRACIUN</div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
