.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
}

.sidenav .mat-toolbar {
  background-color: rgb(46, 62, 80);
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

/* Style when the user is at the current page */
.active-list-item {
  background-color: lightgray !important;
}

.menuTitle {
  font-weight: bold;
}

.menuTitle:hover {
  color: rgb(64, 83, 175);
}

.changeCursorToPointer {
  cursor: pointer;
  color: white;
}

.colorForMainNav {
  background-color: rgb(46, 62, 80);
}


