.copyRightDiv {
    width: 100%;
    height: 40px;
    background-color: rgb(26, 37, 47);
    text-align: center;
    padding-top: 10px;
    color: white;
}
  
.background-top {
  background-color: rgb(26, 37, 47);
}