.flex-container {
    align-items: center;
    /* margin-left: 10%;
    margin-right: 10%; */
    margin: auto;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    /* background-color: DodgerBlue; */
  }
  
  .flex-container > div {
    /* background-color: #f1f1f1;  */
    max-width: 500px;
    text-align: justify;
    font-size: 20px;
    color: white;
    height: 400px;
  }

  .centerForTitle {
    margin: auto;
    width: 500px;
    padding-top: 50px;
  }
  .titleText {
    font-size: 250%;
    font-weight: bold;
    line-height: 1.4;
    text-align: center;
    color: white;
  }

  .parentDiv {
      background-color: rgb(59, 189, 156);
  }

  .sectionTitle {
      font-weight: bold;
      font-size: larger;
  }

.matListItems {
    color: white;
}