<div class="parentDiv">
  <div class="customDivider"></div>
  <div class="centerForTitle">
    <div class="titleText">ABOUT ME</div>
  </div>

  <div class="flex-container">
    <div class="ml-4">
      <!-- Container with image -->
      <div mat-subheader class="sectionTitle">SKILLS</div>
      <mat-list >
        <mat-list-item class="matListItems">
          <i class="fa fa-check-circle fa mr-4" aria-hidden="true"> </i>
          MOST EXPERIENCED WITH FLUTTER, DART, SWIFTUI, SWIFT, JAVA 
        </mat-list-item>
        <mat-list-item class="matListItems">
          <i class="fa fa-check-circle fa mr-4" aria-hidden="true"> </i>
          SOME EXPERIENCE WITH JAVASCRIPT, TYPESCRIPT, PYTHON, FIREBASE, ANGULAR, NODE.JS, HTML5, CSS
        </mat-list-item>
        <mat-list-item class="matListItems">
          <i class="fa fa-check-circle fa mr-4" aria-hidden="true"> </i>
          BEGINNER WITH  REACT, KOA, PHP
        </mat-list-item>
        <mat-list-item class="matListItems">
          <i class="fa fa-check-circle fa mr-4" aria-hidden="true"> </i>
          PROFESSIONAL EXPERIENCE USING AGILE METHODOLOGY AND UNIT TESTING
        </mat-list-item>
        <mat-list-item class="matListItems">
          <i class="fa fa-check-circle fa mr-4" aria-hidden="true"> </i>
          FAMILIARITY OF XCODE, ANDROID STUDIO, VISUAL STUDIO AND INTELLIJ IDEA
        </mat-list-item>
        <mat-list-item class="matListItems">
          <i class="fa fa-check-circle fa mr-4" aria-hidden="true"> </i>
          VERSION CONTROL: GIT, GITHUB
        </mat-list-item>
      </mat-list>
    </div>

    <div class="ml-4 mt-4 mb-4">
      <!-- Container with info -->
      <div mat-subheader class="sectionTitle">INTERESTS</div>
      <mat-list>
        <mat-list-item class="matListItems">
          <i class="fa fa-code fa mr-4" aria-hidden="true"> </i>
          CODING
        </mat-list-item>
        <mat-list-item class="matListItems">
          <i class="fa fa-book fa mr-4" aria-hidden="true"> </i>
          READING (MOSTLY TECHNICAL BOOKS)
        </mat-list-item>
        <mat-list-item class="matListItems">
          <fa-icon [icon]="faRunning" class="mr-4"></fa-icon>
          EXERCISE
        </mat-list-item>
        <mat-list-item class="matListItems">
          <i class="fa fa-gamepad fa mr-4" aria-hidden="true"> </i>
          VIDEO GAMES
        </mat-list-item>
        <mat-list-item class="matListItems">
          <i class="fa fa-car fa mr-4" aria-hidden="true"> </i>
          TRAVELLING
        </mat-list-item>
        <mat-list-item class="matListItems">
          <fa-icon [icon]="faDog" class="mr-4"></fa-icon>
          PETS
        </mat-list-item>
        <mat-list-item class="matListItems">
          <fa-icon [icon]="faFutbol" class="mr-4"></fa-icon>
          FUTSAL
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>
