.centerForTitle {
    margin: auto;
    width: 500px;
    padding-top: 50px;
  }
  .titleText {
    font-size: 250%;
    font-weight: bold;
    line-height: 1.4;
    text-align: center;
    color: rgb(44, 62, 80);
    font-family: "Montserrat";
  }

  .titleOfProject {
    color: rgb(26, 188, 156);
    font-weight: bolder;
    font-size: 30px;
    font-family: "Montserrat";
  }

  h2{
    text-align: center;  
  }

  .carousel,.item,.active{
    height:100%;
  }

  .carousel-control-next,
  .carousel-control-prev /*, .carousel-indicators */ {
      filter: invert(100%);
  }

  .close-button-end {
    align-items: center;
    align-self: center;
    align-content: center;
  }

