.centerForTitle {
    margin: auto;
    width: 500px;
    padding-top: 50px;
  }
  .titleText {
    font-size: 250%;
    font-weight: bold;
    line-height: 1.4;
    text-align: center;
    color: rgb(44, 62, 80);
    font-family: "Montserrat";
  }

  .titleOfProject {
    color: rgb(26, 188, 156);
    font-weight: bold;
    font-size: 30px;
    font-family: "Montserrat";
  }

  h2{
    text-align: center;  
  }